STORAGE_API_URL=https://connection.keboola.com/
STORAGE_API_TOKEN=
STORAGE_API_TOKEN_MASTER=
RUN_SYNAPSE_TESTS=0
SYNAPSE_STORAGE_API_URL=https://connection.eu-central-1.keboola.com/
SYNAPSE_STORAGE_API_TOKEN=
