<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="bootstrap.php">

    <testsuites>
        <testsuite name="CommonPart1">
            <directory>Tests</directory>
            <exclude>Tests/Reader/DownloadFilesTest.php</exclude>
            <exclude>Tests/Reader/DownloadFilesRedshiftTest.php</exclude>
            <exclude>Tests/Reader/DownloadTablesRedshiftTest.php</exclude>
            <exclude>Tests/Reader/DownloadTablesDefaultTest.php</exclude>
            <exclude>Tests/Reader/DownloadTablesS3DefaultTest.php</exclude>
            <exclude>Tests/Reader/DownloadTablesABSDefaultTest.php</exclude>
            <exclude>Tests/Reader/DownloadTablesWorkspaceAbsTest.php</exclude>
            <exclude>Tests/Reader/DownloadTablesWorkspaceRedshiftTest.php</exclude>
            <exclude>Tests/Reader/DownloadTablesSynapseTest.php</exclude>
            <exclude>Tests/Reader/DownloadTablesWorkspaceSynapseTest.php</exclude>
            <exclude>Tests/Reader/DownloadTablesWorkspaceAbsTest.php</exclude>
        </testsuite>
        <testsuite name="CommonPart2">
            <file>Tests/Reader/DownloadTablesDefaultTest.php</file>
        </testsuite>
        <testsuite name="CommonFiles">
            <file>Tests/Reader/DownloadFilesTest.php</file>
        </testsuite>
        <testsuite name="Aws">
            <file>Tests/Reader/DownloadFilesRedshiftTest.php</file>
            <file>Tests/Reader/DownloadTablesRedshiftTest.php</file>
            <file>Tests/Reader/DownloadTablesWorkspaceRedshiftTest.php</file>
            <file>Tests/Reader/DownloadTablesS3DefaultTest.php</file>
        </testsuite>
        <testsuite name="Azure">
            <file>Tests/Reader/DownloadTablesABSDefaultTest.php</file>
            <file>Tests/Reader/DownloadTablesWorkspaceAbsTest.php</file>
        </testsuite>
        <testsuite name="AzureSynapse">
            <file>Tests/Reader/DownloadTablesSynapseTest.php</file>
            <file>Tests/Reader/DownloadTablesWorkspaceSynapseTest.php</file>
            <file>Tests/Reader/DownloadTablesWorkspaceAbsTest.php</file>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">.</directory>
            <exclude>
                <directory suffix=".php">vendor</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
